<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.a7learntutorialapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".presentation.musicplayer.MusicPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.videoplayer.VideoPlayerActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".presentation.testsignup.SignUpActivity" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.boutique.BoutiqueActivity"
            android:label="بوتیک"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:label="اطلاعات کاربری"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".presentation.posts.PostsActivity"
            android:label="آخرین پست ها"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.testweather.WeatherSampleActivity" />
        <activity
            android:name=".presentation.posts.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.animations.AnimationsMainActivity"
            android:label="@string/animations_main_activity_toolbar_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.animations.AnimationActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".infrastructure.CustomBroadCastReceiver">
            <intent-filter>
                <action android:name="com.example.sshahini.myapplication.test" />
            </intent-filter>
        </receiver>
        <receiver android:name=".presentation.weatherwidget.WeatherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!--<action android:name="com.example.android.a7learntutorialapp.UPDATE_DATA"/>-->
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

        <service android:name=".presentation.weatherwidget.WeatherInfoDownloaderService" />
        <service android:name=".presentation.musicplayer.MusicPlayerService" />

        <!-- [START firebase_service] -->
        <service
            android:name=".infrastructure.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".presentation.login.LoginActivity"
            android:screenOrientation="portrait" />
        <!--            android:windowSoftInputMode="adjustPan"   هنگام باز شدن کیبورد، بقیه مکان بقیه ویوها تغییر نکند-->
    </application>

</manifest>